# 忽略音视频和字幕文件目录
uploads/
audio/
subtitles/
merged/
subtitled_videos/
temp/
models/
.history/
static/old/
main-ok.py
requirements copy.txt
rule2.md
.cursorrules

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/
venv_py311

# IDE
.idea/
.vscode/
*.swp
*.swo

# 环境变量文件
.env

# 日志文件
*.log
.history/*

# 系统文件
.DS_Store
Thumbs.db 