# 基础依赖
fastapi==0.95.0
uvicorn==0.21.1
python-multipart==0.0.5
python-dotenv==1.0.0
pydantic==1.10.7

# 音视频处理
numpy>=1.24.3
#numpy==1.22.0  # 固定版本以满足所有依赖
moviepy==1.0.3
pydub==0.25.1
soundfile>=0.12.1
tqdm==4.67.0

# Azure 服务
azure-cognitiveservices-speech==1.24.0
azure-ai-translation-text==1.0.0b1

# TTS 相关
torch>=1.7.0
torchaudio>=0.7.0
scipy>=1.5.0,<2.0.0
librosa>=0.10.0
phonemizer>=2.2.1
inflect>=4.1.0
Unidecode==1.3.6
TTS==0.22.0
langid>=1.1.6  # 添加语言检测库
soundfile>=0.12.1 # 添加音频处理库

edge-tts>=6.1.9


# 中文处理
pypinyin==0.48.0
jieba==0.42.1

# 其他工具
PyYAML==6.0.2
requests==2.32.3
python-jose==3.3.0